<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="initial-scale=1,maximum-scale=1,user-scalable=no"
        />
        <title>Add Graphics to a SceneView - 4.7</title>
        <link
            rel="stylesheet"
            href="https://js.arcgis.com/4.7/esri/css/main.css"
        />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gl-matrix/2.5.1/gl-matrix-min.js"></script>
        <script src="https://js.arcgis.com/4.7/"></script>

        <style>
            html,
            body,
            #viewDiv {
                padding: 0;
                margin: 0;
                height: 100%;
                width: 100%;
            }
        </style>
    </head>

    <script>
        require([
            'esri/Map',
            'esri/views/SceneView',
            'esri/layers/GraphicsLayer',
            'esri/Graphic',
            'esri/geometry/Point',
            'esri/geometry/Polygon',
            'esri/geometry/geometryEngine',

            'dojo/domReady!',
        ], function (
            Map,
            SceneView,
            GraphicsLayer,
            Graphic,
            Point,
            Polygon,
            geometryEngine
        ) {
            var map = new Map({
                basemap: 'hybrid',
            });

            var view = new SceneView({
                container: 'viewDiv',
                map: map,

                camera: {
                    // autocasts as new Camera()
                    position: {
                        // autocasts as new Point()
                        x: -0.17746710975334712,
                        y: 51.44543992422466,
                        z: 1266.7049653716385,
                    },
                    heading: 0.34445102566290225,
                    tilt: 82.95536300536367,
                },
            });

            /*********************
             * Add graphics layer
             *********************/

            var graphicsLayer = new GraphicsLayer();
            map.add(graphicsLayer);

            /*************************
             * Add a 3D point graphic
             *************************/

            // London
            var point = {
                type: 'point', // autocasts as new Point()
                x: -0.175,
                y: 51.48791,
                z: 0,
            };

            var height = 1800;

            markerSymbol = {
                type: 'simple-marker', // autocasts as new SimpleMarkerSymbol()
                color: [226, 0, 0],
                outline: {
                    // autocasts as new SimpleLineSymbol()
                    color: [255, 255, 255],
                    width: 1,
                },
            };

            /****************************
             * Add a 3D polyline graphic
             ****************************/

            var polyline = {
                type: 'polyline', // autocasts as new Polyline()
                paths: [
                    [point.x, point.y, point.z],
                    [point.x, point.y, height],
                ],
            };

            lineSymbol = {
                type: 'simple-line', // autocasts as SimpleLineSymbol()
                color: [0, 0, 0],
                width: 4,
                outline: {
                    // autocasts as new SimpleLineSymbol()
                    color: [255, 255, 255],
                    width: 1,
                },
            };

            var polylineGraphic = new Graphic({
                geometry: polyline,
                symbol: lineSymbol,
            });

            graphicsLayer.add(polylineGraphic);

            /***************************
             * Add a 3D polygon graphic
             ***************************/
            var polygons = [
                {
                    type: 'polygon', // autocasts as new Polygon()
                    rings: [
                        [-0.184, 51.48391, 400],
                        [-0.184, 51.49091, 800],
                        [-0.172, 51.49091, 800],
                        [-0.172, 51.48391, 400],
                        [-0.184, 51.48391, 400],
                    ],
                },
                {
                    type: 'polygon', // autocasts as new Polygon()
                    rings: [
                        [-0.17, 51.48391, 1100],
                        [-0.17, 51.49091, 900],
                        [-0.18, 51.49091, 900],
                        [-0.18, 51.48391, 1100],
                        [-0.17, 51.48391, 1100],
                    ],
                },
                {
                    type: 'polygon', // autocasts as new Polygon()
                    rings: [
                        [-0.165, 51.48391, 1500],
                        [-0.165, 51.49091, 1600],
                        [-0.18, 51.49091, 1300],
                        [-0.18, 51.48391, 1200],
                        [-0.165, 51.48391, 1500],
                    ],
                },
                {
                    type: 'polygon', // autocasts as new Polygon()
                    rings: [
                        [-0.165, 51.48391, 1600],
                        [-0.165, 51.49091, 1600],
                        [-0.17, 51.49091, 1900],
                        [-0.17, 51.48391, 1900],
                        [-0.165, 51.48391, 1600],
                    ],
                },
                {
                    type: 'polygon', // autocasts as new Polygon()
                    rings: [
                        [-0.17, 51.48391, 1800],
                        [-0.17, 51.49091, 1500],
                        [-0.18, 51.49091, 1500],
                        [-0.18, 51.48391, 1800],
                        [-0.17, 51.48391, 1800],
                    ],
                },
            ];

            var fillSymbol = {
                type: 'simple-fill', // autocasts as new SimpleFillSymbol()
                color: [227, 139, 79, 0.8],
                outline: {
                    // autocasts as new SimpleLineSymbol()
                    color: [255, 255, 255],
                    width: 1,
                },
            };

            var polygonGraphics = polygons.map(function (polygon) {
                return new Graphic({
                    geometry: polygon,
                    symbol: fillSymbol,
                });
            });

            graphicsLayer.addMany(polygonGraphics);

            polygons.forEach(function (polygon) {
                var intersectionPoint = getIntersectionPoint(polygon, point);

                console.log('intersectionPoint', intersectionPoint);

                // if a point is returned, check that point is on the line
                if (intersectionPoint && intersectionPoint.z <= height) {
                    var pointGraphic = new Graphic({
                        geometry: new Point(intersectionPoint),
                        symbol: markerSymbol,
                    });
                    graphicsLayer.add(pointGraphic);
                }
            });

            function getIntersectionPoint(polygon, point) {
                //perform intersection in 2D to see if point is inside polygon
                if (
                    geometryEngine.intersects(
                        new Polygon(polygon),
                        new Point(point)
                    )
                ) {
                    // get a flat array of 3 non-collinear points in the polygon
                    // we will use these points for the plane equation
                    var planePoints = getNonCollinearPoints(polygon);

                    //get a flat array of 2 points that define the line
                    var linePoints = [].concat.apply([], polyline.paths);

                    // return intersection of the plane and line
                    if (planePoints) {
                        return intersect(planePoints, linePoints);
                    } else {
                        console.error(
                            'Polygon ',
                            polygon,
                            "doesn't have non-collinear points."
                        );
                    }
                }
                return null;
            }

            function getNonCollinearPoints(polygon) {
                // set the first two non-collinear points in the polygon
                var x1 = polygon.rings[0][0],
                    y1 = polygon.rings[0][1],
                    z1 = polygon.rings[0][2],
                    x2 = polygon.rings[1][0],
                    y2 = polygon.rings[1][1],
                    z2 = polygon.rings[1][2];

                // find the third non-collinear point in the polygon
                for (var i = 2; i <= polygon.rings.length; i++) {
                    var x3 = polygon.rings[i][0],
                        y3 = polygon.rings[i][1],
                        z3 = polygon.rings[i][2];
                    if (
                        (x3 - x1) / (x2 - x1) !== (y3 - y1) / (y2 - y1) ||
                        (x3 - x1) / (x2 - x1) !== (z3 - z1) / (z2 - z1)
                    ) {
                        return [x1, y1, z1, x2, y2, z2, x3, y3, z3];
                    }
                }

                return null;
            }

            function intersect(planePoints, linePoints) {
                // 3 points defining the plane
                var x1 = planePoints[0],
                    y1 = planePoints[1],
                    z1 = planePoints[2],
                    x2 = planePoints[3],
                    y2 = planePoints[4],
                    z2 = planePoints[5],
                    x3 = planePoints[6],
                    y3 = planePoints[7],
                    z3 = planePoints[8];

                // 2 points defining the line
                var x4 = linePoints[0],
                    y4 = linePoints[1],
                    z4 = linePoints[2],
                    x5 = linePoints[3],
                    y5 = linePoints[4],
                    z5 = linePoints[5];

                // calculate intersection based on http://mathworld.wolfram.com/Line-PlaneIntersection.html
                var mat1 = mat4.fromValues(
                    1,
                    1,
                    1,
                    1,
                    x1,
                    x2,
                    x3,
                    x4,
                    y1,
                    y2,
                    y3,
                    y4,
                    z1,
                    z2,
                    z3,
                    z4
                );
                var mat2 = mat4.fromValues(
                    1,
                    1,
                    1,
                    0,
                    x1,
                    x2,
                    x3,
                    x5 - x4,
                    y1,
                    y2,
                    y3,
                    y5 - y4,
                    z1,
                    z2,
                    z3,
                    z5 - z4
                );
                var det1 = mat4.determinant(mat1);
                var det2 = mat4.determinant(mat2);

                if (det2 !== 0) {
                    var t = -det1 / det2;
                    var intersectionPoint = {
                        x: x4 + (x5 - x4) * t,
                        y: y4 + (y5 - y4) * t,
                        z: z4 + (z5 - z4) * t,
                    };
                    return intersectionPoint;
                }

                // in case no point was found
                return null;
            }
        });
    </script>

    <body>
        <div id="viewDiv"></div>
    </body>
</html>
